


* {
    box-sizing: border-box;
} 

html{
    scroll-behavior: smooth;
}

header{
  
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    

}
footer {
    text-decoration: none;
    text-shadow: 2px brown;
    background-color: rgb(178, 223, 165);
    text-align: center;
}

h2{
    background-color: cadetblue;
    color: crimson;
    font-size: 57px;
    text-align: center;
}

h3{
    background-color: darkgray;
    color: rgb(13, 8, 31);
    font-size: 33px;
}
hr.new5 {
    border: 10px solid green;
    border-radius: 5px;
    
}
nav{
    text-align: center;
    padding: 13px ;
    background-color: blanchedalmond;
    color: rgb(61, 141, 85);
    font-size: large;



}



}
h1{
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: chartreuse;
    background-color: darkgray;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: darkkhaki;
    size: 202px;

}
div{
    font-family:'Oswald', sans-serif;
    color:rgb(13, 24, 21);
    background-color: rgb(153, 221, 187);
    
}

#foot{
    color: blueviolet;
    background-color: burlywood;
    font-family: 'Kirang Haerang', cursive;
}

table,
tr,
th,
td {
  border: 1px solid;
}
