
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chartreuse;
    background-color: darkgray;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: darkkhaki;
    size: 202px;

}
div{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(13, 24, 21);
    background-color: rgb(153, 221, 187);
}

#foot{
    color: blueviolet;
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

